<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdventureSFU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E1B86881E691C08006C0E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E1B869F1E691C08006C0E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E1B86AA1E691C08006C0E61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
